.main-container {
  width: 100vw;
}

.main-page {
  width: 60vw;
  margin: auto;

  @media screen and (max-width: 400px) {
    width: 100vw;
  }

  .banner {
    width: 100%;
    margin: 30px 0px;
  }

  h1 {
    text-align: center;
    color: rgb(54, 53, 53);

    @media screen and (max-width: 400px) {
      font-size: 1.5rem;
    }
  }

  .main-movies {
    display: grid;
    margin-top: 90px;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: space-around;

    @media screen and (max-width: 400px) {
      grid-template-columns: repeat(2, 1fr);
      overflow-x: hidden;
      margin-top: 20px;
    }
  }

  .active {
    color: #d7385e;
  }

  .pagination-container {
    margin: 100px auto;
    display: flex;
    width: 300px;
    justify-content: space-around;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #d7385e;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
