.navbar-container {
  width: 100%;
  height: 90px;
  background-color: white;

  .navbar-item {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
      flex: 1;
    }

    p {
      display: inline-block;
      width: 100px;
      padding: 0;
      margin: auto 10px;
    }
  }

  .navbar-right {
    max-width: 600px;
    display: flex;
    align-items: center;

    .user-icon {
      display: inline-block;
      width: 50px;
      vertical-align: middle;
    }

    .coins {
      width: 120px;
      padding: 7px 10px;
      background-color: rgb(221, 221, 221);
      border-radius: 15px;
      margin: 0px 20px;

      img {
        width: 25px;
        display: inline-block;
        margin: 0px 7px;
        vertical-align: middle;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    a {
      text-decoration: none;
      font-weight: 600;
      color: black;
      margin-right: 20px;
      text-transform: uppercase;
      font-size: 1rem;

      &:hover {
        color: #d7385e;
      }
    }
  }
}
