.details {
  width: 60vw;
  margin: auto;

  h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
  }

  .details-movie {
    width: 100%;
    margin: auto;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    .details-left {
      img {
        display: block;
        margin: auto;
      }
    }

    .details-right {
      position: relative;

      .details-title {
        margin-top: 0;
      }

      .details-overview {
        margin-bottom: 10px;
      }

      .overview {
        margin-top: 0px;
      }

      .vote {
        img {
          height: 15px;
          display: inline-block;
          margin-right: 10px;
        }

        span {
          display: inline-block;
        }
      }

      .time {
        display: flex;
        align-items: center;
        margin-top: 10px;
        img {
          height: 15px;
          margin-right: 10px;
        }
      }

      button {
        padding: 8px 12px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 20px;
        background-color: #d7385e;
        cursor: pointer;
      }

      .movie-price {
        padding: 7px 12px;
        left: 110px;
        font-size: 1.1rem;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
